<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <img alt="image" class="img-responsive" src="<%= image_url 'headerlogo.jpg' %> " height="50px" />
        <!--  <div class="col-lg-6">
        <img alt="image" src="<%= image_url 'l3.jpg' %>" style="margin-left:-15px;" />
        </div>
        <div class="col-lg-2">
        <img alt="image" src="<%= image_url 'l2.jpg' %>" style="align:center;"/>
        </div>
        <div class="col-lg-4">
            <img alt="image" src="<%= image_url 'l1.jpg' %>" style="margin-top:15px;margin-left:220px;" />
        </div>  -->
     
        <div class="clearfix"></div>
         <ol class="breadcrumb" style="background:#F3F3F4; padding:10px;">
          <!--  <li>
                <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'madein_ksa', :action => 'show' %>">MADE IN KSA Searcher</a>
            </li>
             <li class="active">
                <b>MADE IN KSA Details</b>
            </li>-->
            <li>
             <%- if I18n.locale==:ar%>
                 <span class="">
                  <% @ar_breadcrum_home = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '14','ar')%>
                  <% @ar_breadcrum_home.each do |ar_breadcrum_home|%>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= ar_breadcrum_home.language_property %></a>

                   <% end %>
                </span>
            <% else %>
                <span class="">
                  <% @en_breadcrum_home = Language.select("language_property").where("language_id= ? AND language_type = ?",'14','en')%>
                  <% @en_breadcrum_home.each do |en_breadcrum_home|%>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= en_breadcrum_home.language_property %></a>
            <% end %>
                </span>
            <% end -%>
            </li>
            <li>
             <%- if I18n.locale==:ar%>
                 <span class="">
                  <% @ar_breadcrum_search = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '40','ar')%>
                  <% @ar_breadcrum_search.each do |ar_breadcrum_home|%>
                    <a href="<%= url_for :controller => 'madein_ksa', :action => 'show' %>"><%= ar_breadcrum_home.language_property %></a>

                   <% end %>
                </span>
            <% else %>
                <span class="">
                  <% @ar_breadcrum_search = Language.select("language_property").where("language_id= ? AND language_type = ?",'40','en')%>
                  <% @ar_breadcrum_search.each do |en_breadcrum_home|%>
                    <a href="<%= url_for :controller => 'madein_ksa', :action => 'show' %>"><%= en_breadcrum_home.language_property %></a>
            <% end %>
                </span>
            <% end -%>
          
            </li>
             <li class="active">
                <%- if I18n.locale== :ar %>
                <span class="">
                  <% @ar_breadcrum_view = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '17','ar')%>
                  <% @ar_breadcrum_view.each do |ar_breadcrum_view|%>
                   <%= ar_breadcrum_view.language_property %>

                   <% end %>
                </span>
              <% else %>
                <span class="">
                  <% @en_breadcrum_view = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '17','en')%>
                  <% @en_breadcrum_view.each do |en_breadcrum_view|%>
                 <%= en_breadcrum_view.language_property %>

                   <% end %>
                </span>
              <% end -%>
            </li>
        </ol>
        
    </div>
</div>

<%= form_tag(view1_path,:method => "post", class: "navbar-form",:multipart => true) do %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
     <div class="col-lg-12">
        <div class="ibox" style="border:1px solid #21B6A8;">
          <div class="ibox-title" style="background:#21B6A8;color:#f3f3f4 !important;">
          <%- if I18n.locale== :ar %>
            تفاصيل مادية
                <% else %>
                   Material Details
                <% end -%>
              <div class="ibox-tools hide">
                  <a class="collapse-link" style="color:#f3f3f4 !important;">
                      <i class="fa fa-chevron-up"></i>
                  </a>
                 
                  <a class="close-link" style="color:#f3f3f4 !important;">
                      <i class="fa fa-times"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
            <table class="table table-bordered" style="width:800px">
             <%@data.each do |a|%>
                <tr>
                    <th>CMM MATERIAL NO</th>
                    <th>MATERIAL ID</th>
                    <th>DATE CREATED</th>
                    <th>IMAGE</th>
                    <th></th>
                  
                </tr>
                <tr>                
                    <td><%=a.cmm_material_no%>
                   <input type="hidden" name="cat_id" id="cmm_material_no" value="<%=a.cat_id%>" ></td>
                    <td><%=a.material_id%></td>
                    <td><%=a.datecreated%></td>
                   <td>                
                      <%=image_tag("/madein_ksa/image",:alt => "image") %>
                  </td>
                 
                 <td>
                 <input type="file" id="pictureInput" name="pictureInput">
                  <br><br>
                    <%= submit_tag "UPLOAD IMAGE" %>
                  </td>
                <%end %>
                </tr> 
            </table>
        </div>
      </div>
     </div>

<% end %>
      <div class="col-lg-12">
       <div class="ibox" style="border:1px solid #21B6A8;">
          <div class="ibox-title" style="background:#21B6A8;color:#f3f3f4 !important;">
                <%- if I18n.locale==:ar%>
                   <span class="">
                    <% @ar_breadcrum_desc = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '43','ar')%>
                    <% @ar_breadcrum_desc.each do |ar_breadcrum_desc|%>
                   <%= ar_breadcrum_desc.language_property %>
                    <% end %>
                <% else %>
                      <% @ar_breadcrum_desc = Language.select("language_property").where("language_id= ? AND language_type = ?",'43','en')%>
                      <% @ar_breadcrum_desc.each do |en_breadcrum_desc|%>
                      <%= en_breadcrum_desc.language_property %>
                <% end %>
              <% end -%>
          </div>
          <div class="ibox-content">
            <table class="table table-bordered">
                <% @len.each do |l| %>
              <%@data.each do |c|%>

              <tr>
                <div class="col-lg-2">
                  <th>SHORT DESCRIPTION</th>
                </div>
                <div class="col-lg-8">
                  <td>
                     <%= text_field_tag "sh_desc",c.short_description,:size => 50 %><br/>
                    <%= hidden_field_tag "id",c.cat_id %>
                    <%=hidden_field_tag "class",c.Class %>
                    <%=hidden_field_tag "len_sd",l.length_SD %>
                  </td>                
                </div>
                 <div classs="col-lg-2">
                  <td>
                    <% if l.length_SD=="" %>
                       <%= @length_SD=40 %>  
                      <% else %>
                    <%=@length_SD=(c.short_description.length).to_s+'/'+(l.length_SD) %>                
                    <% end %>                       
                  </td>
                  </div>
              </tr>
              <tr> 
              <div class="col-lg-2">
                  <th>LONG DESCRIPTION</th>
              </div>
              <div class="col-lg-8">
                  <td>
                  <%= text_area_tag "lg_desc",c.long_description,size:"100*100" %><br/>
                  <%= text_field_tag :cat_id, params[:cat_id], class: "form-control hide", value: @id %>
                   <%=hidden_field_tag "class",c.Class %>
                    <%=hidden_field_tag "len_ld",l.length_LD %>
                  </td>
              </div>
                <div classs="col-lg-2">
                  <td>   
                     <% if l.length_LD=="0" %>
                        <%= @length_LD=(c.long_description.length).to_s+'/'+"UNLIMITED" %> 
                      <% else %>
                        <%= @length_LD=(c.long_description.length).to_s+'/'+(l.length_LD) %> 
                    <% end %>
                  </td>
                </div> 
              </tr>
              <% end %>
              <% end %>
           </table>
        </div>
          </div>
      </div>

      <div class="col-lg-12">
        <div class="tabs-container custom-tab" style="border:1px solid #21B6A8;">
                <ul class="nav nav-tabs" style="background:#21B6A8;" >
                    <li class="">
                  <%- if I18n.locale==:ar%>
                 
                  <% @ar_breadcrum_technical = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '41','ar')%>
                  <% @ar_breadcrum_technical.each do |ar_breadcrum_technical|%>
                    <a data-toggle="tab" href="#tab-1" style="color:#f3f3f4 !important;"><%= ar_breadcrum_technical.language_property %></a>
                   <% end %>
               
            <% else %>
                
                  <% @ar_breadcrum_technical = Language.select("language_property").where("language_id= ? AND language_type = ?",'41','en')%>
                  <% @ar_breadcrum_technical.each do |en_breadcrum_technical|%>
                   <a data-toggle="tab" href="#tab-1" style="color:#f3f3f4 !important;"><%= en_breadcrum_technical.language_property %></a>
            <% end %>
               
            <% end -%>
            </li>

             <li class="">
                  <%- if I18n.locale==:ar%>
              
                  <% @ar_breadcrum_technical = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '42','ar')%>
                  <% @ar_breadcrum_technical.each do |ar_breadcrum_technical|%>
                    <a data-toggle="tab" href="#tab-2" style="color:#f3f3f4 !important;"><%= ar_breadcrum_technical.language_property %></a>

                   <% end %>
             
            <% else %>
           
                  <% @ar_breadcrum_technical = Language.select("language_property").where("language_id= ? AND language_type = ?",'42','en')%>
                  <% @ar_breadcrum_technical.each do |en_breadcrum_technical|%>
                   <a data-toggle="tab" href="#tab-2" style="color:#f3f3f4 !important;"><%= en_breadcrum_technical.language_property %></a>
            <% end %>
             
            <% end -%>
            </li>
            </ul>
        <div class="tab-content">
         <div id="tab-1" class="tab-pane active">
              <div class="panel-body">
                <span id="tech_spec" class="tech_spec" style="margin-left:100px !important;"></span>
                  <div class="row" style="padding-top:10px;">
                      <table class="table table-bordered" >
                      <div class="row">
                        <tr>
                          <% @data1.each do |a| %>
                              <td style="font-size:13px;">
                             <b> <%= a['property'] %></b>
                              </td>
                              <td>                 
                              <%= text_field_tag "task[]",a['value'] %><br/>
                              <%= hidden_field_tag "ids_to_update1[]", a['property'] %>
                              <%= hidden_field_tag "ids_to_update[]", a['Seq'] %>
                              <%= text_field_tag :cat_id, params[:cat_id], class: "form-control hide", value: @id %>
                              </td>  
                        </tr>
                      <% end %>
                      </div>
                      </table>
                  </div>
               </div>
            </div>
        
            <div id="tab-2" class="tab-pane">
              <div class="panel-body">
                  <div class="row" style="padding-top:10px;">
                  <table class="table table-bordered">
                    <div class="row">
                      <tr>
                        <% @data2.each do |b| %>
                            <td>
                              <b><%=b.property%></b>
                            </td>
                            <td>
                              <%= text_field_tag "task1[]",b['value'] %><br/>
                              <%= hidden_field_tag "prop[]", b['property'] %>
                              <%= hidden_field_tag "seq_id[]", b['Seq'] %>
                              <%= text_field_tag :cat_id, params[:cat_id], class: "form-control hide", value: @id %>
                            </td>
                      </tr>
                      <% end %>
                    </div>
                  </table>
                  </div>
              </div>
            </div>
        </div>
      </div>
    <br>
      </div>

       <table class="table borderless">
                <tr>
                  <td>
                 <%- if I18n.locale== :ar %>
                    <span class="">
                      <% @ar_button = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '45','langs','view.html.erb','ar')%>
                      <% @ar_button.each do |ar_button|%>
                      <%= submit_tag ar_button.language_property, :class=>"btn btn btn-primary", :style=>"margin:0;",:name=>nil %>
                       <% end %>
                    </span>
                  <% else %>
                    <span class="">
                      <% @en_button = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '45','langs','view.html.erb','en')%>
                      <% @en_button.each do |en_button|%>
                       <%= submit_tag en_button.language_property, :class=>"btn btn btn-primary", :style=>"margin:0;",:name=>nil %>
                       <% end %>
                    </span>
                  <% end -%>
                  </td>
                </tr>
                </table> 
      </div>
</div>


<% content_for :javascript do %>
<script type="text/javascript">
    $(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
    $('#imgprev').attr('src',file.target.result)
    };
    reader.readAsDataURL(image);
    console.log(files);
  });

});
</script>
<% end %>