<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <img alt="image" class="img-responsive" src="<%= image_url 'headerlogo.jpg' %> " height="50px" />
        <!--  <div class="col-lg-6">
        <img alt="image" src="<%= image_url 'l3.jpg' %>" style="margin-left:-15px;" />
        </div>
        <div class="col-lg-2">
        <img alt="image" src="<%= image_url 'l2.jpg' %>" style="align:center;"/>
        </div>
        <div class="col-lg-4">
            <img alt="image" src="<%= image_url 'l1.jpg' %>" style="margin-top:15px;margin-left:220px;" />
        </div>  -->
      
          <div class="clearfix"></div>
         <ol class="breadcrumb" style="background:#F3F3F4; padding:10px;">
            <li>
              <%- if I18n.locale== :ar %>
                <span class="">
                  <% @ar_breadcrum_home = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '14','ar')%>
                  <% @ar_breadcrum_home.each do |ar_breadcrum_home|%>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= ar_breadcrum_home.language_property %></a>

                   <% end %>
                </span>
              <% else %>
                <span class="">
                  <% @en_breadcrum_home = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '14','en')%>
                  <% @en_breadcrum_home.each do |en_breadcrum_home|%>
                 <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= en_breadcrum_home.language_property %></a>

                   <% end %>
                </span>
              <% end -%>
              
            </li>
             <li class="active">
                <%- if I18n.locale== :ar %>
                <span class="">
                  <% @ar_breadcrum_factsearch = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '15','ar')%>
                  <% @ar_breadcrum_factsearch.each do |ar_breadcrum_factsearch|%>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= ar_breadcrum_factsearch.language_property %></a>

                   <% end %>
                </span>
              <% else %>
                <span class="">
                  <% @en_breadcrum_factsearch = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '15','en')%>
                  <% @en_breadcrum_factsearch.each do |en_breadcrum_factsearch|%>
                 <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= en_breadcrum_factsearch.language_property %></a>

                   <% end %>
                </span>
              <% end -%>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <!-- <div class="ibox-title">
                sdfdsfds
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div> -->
                <div class="ibox-title">
                        <h5>
                            <%- if I18n.locale== :ar %>
                                <span class="">
                                  <% @ar_search = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '12','langs','show.html.erb','ar')%>
                                  <% @ar_search.each do |ar_search|%>
                                  <%= ar_search.language_property %>
                                   <% end %>
                                </span>
                              <% else %>
                                <span class="">
                                  <% @en_search = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '12','langs','show.html.erb','en')%>
                                  <% @en_search.each do |en_search|%>
                                  <%= en_search.language_property %>
                                   <% end %>
                                </span>
                              <% end -%>
                        </h5>
                        <div class="pull-right"> 
                        <%= form_tag( show_lang_path,:method => "get", class: "navbar-form") do %>
                                    <div class="form-group pull-right">
                                     <%= text_field_tag :search, params[:search], class: "span4 form-control" %>
                                     <%- if I18n.locale== :ar %>
                                        <span class="">
                                          <% @ar_button = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '13','langs','show.html.erb','ar')%>
                                          <% @ar_button.each do |ar_button|%>
                                          <%= submit_tag ar_button.language_property, :class=>"btn btn btn-primary", :style=>"margin:0;",:name=>nil %>
                                           <% end %>
                                        </span>
                                      <% else %>
                                        <span class="">
                                          <% @en_button = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '13','langs','show.html.erb','en')%>
                                          <% @en_button.each do |en_button|%>
                                           <%= submit_tag en_button.language_property, :class=>"btn btn btn-primary", :style=>"margin:0;",:name=>nil %>
                                           <% end %>
                                        </span>
                                      <% end -%>
                             
                               
                          <% end %>
                        </div>
                        <div class="ibox-tools hide">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
            <div class="ibox-content">
               <div class="col-lg-6 pull-right hide">
                <%= form_tag( show_lang_path,:method => "get", class: "navbar-form") do %>
                            <div class="form-group pull-right">
                             <%= text_field_tag :search, params[:search], class: "span4 form-control" %>
                             <%- if I18n.locale== :ar %>
                                <span class="">
                                  <% @ar_button = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '13','langs','show.html.erb','ar')%>
                                  <% @ar_button.each do |ar_button|%>
                                  <%= submit_tag ar_button.language_property, :class=>"btn btn btn-primary", :style=>"margin:0;",:name=>nil %>
                                   <% end %>
                                </span>
                              <% else %>
                                <span class="">
                                  <% @en_button = Language.select("language_property").where("language_id = ? AND controller_name = ? AND page_name = ? AND language_type = ? ", '13','langs','show.html.erb','en')%>
                                  <% @en_button.each do |en_button|%>
                                   <%= submit_tag en_button.language_property, :class=>"btn btn btn-primary", :style=>"margin:0;",:name=>nil %>
                                   <% end %>
                                </span>
                              <% end -%>
                     
                       
                    </div>
                  <% end %>
                  </br> </br> </br> </br>
                </div>
                <div style="width:100%; overflow-x:auto;">
                 <%= grid(@factory, :show_filters => :always,:html => {:class => 'table table-striped table-bordered table-hover dataTables-example'}) do |s|
                    
                    #s.column :name => 'FPKID',:attribute => 'FPKID'
                    #s.action_column 
                    # s.column :name => 'FACTORY ID', :attribute => 'Factory_ID' do |s|
                    #     link_to s.Factory_ID ,{:controller => :langs,:action => :view,:Factory_ID => s.Factory_ID},:target => "_blank" 
                    # end 
                        
            #       s.column :name => 'Factory_ID', :attribute => 'Factory_ID' do  |s|
            #           link_to s.Factory_ID ,{:controller => :langs,:action => :external_view, :Factory_ID => s.Factory_ID},:title => 'External ID view'
                    # end
                     # s.column :name => 'Factory_ID', :attribute => 'Factory_ID'
                s.column :name => 'FACTORY NAME', :attribute => 'Factory_Name' do |s|
                        link_to s.Factory_Name ,{:controller => :langs,:action => :view,:Factory_ID => s.Factory_ID},:target => "_blank" 
                    end 

                s.column :name => 'FACTORY WEBSITE', :attribute => 'Factory_Website'do |s|
                    if s.Factory_Website == 'NULL'
                        
                    else
                      link_to s.Factory_Website, "http://#{s.Factory_Website}",:target => "_blank"
                    end 
                  end  
                      
                    #   if s.Factory_Website.nil? == true
                    #     link_to s.Factory_Website, "http://#{s.Factory_Website}",:target => "_blank"
                       
                    #   else
                    #   # link_to s.Factory_Website, "#{s.Factory_Website}",:target => "_blank"
                    #   end
                    #    # link_to s.Factory_Name ,{:controller => :langs,:action => :view,:Factory_ID => s.Factory_ID},:target => "_blank" 
                    # end





                    #s.column :name => 'FACTORY WEBSITE', :attribute => 'Factory_Website'
                     #link_to "google", "http://www.google.com"
                  # s.column :name => 'FACTORY WEBSITE', :attribute => 'Value'
                    #s.column :name => 'Factory_Website', :attribute => 'Factory_Website'
                    #s.column :name => 'City', :attribute => 'City'
                    #s.column :name => 'Request Sent', :attribute => 'Request_sent'
                    #s.column :name => 'Request Received', :attribute => 'Request_received'

                    #s.column  do  |s|
                    #link_to"" ,{:controller => :langs,:action => :view,:FPKID =>  s.FPKID,
                     #   :Ownership_Org_ID => s.Ownership_Org_ID,:Factory_ID => s.Factory_ID,:Factory_Name => s.Factory_Name},:class=> "fa fa-external-link-square",:title => 'More Information',:target => "_blank",onclick: "change_function()", remote:true
                    
                  #  end 
                   #  s.column  do  |s|               
                    #button_to "Request Validation" ,{:controller => :langs,:action => :email,:FPKID => s.FPKID},:class=> "btn btn-primary btn-sm",:target => "_blank"
                     #end
                    end -%>
                </div>
         </div>
    </div>
</div>
 </div> 
</div>  
</div>

