<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                <% if user_signed_in? %>
                                <%= current_user.name.upcase %></strong>
                                </span> <span class="text-muted text-xs block"><%= current_user.designation.upcase %> <!--b class="caret"></b--></span>
                            <% end %>
                        </span>
                    </a>
                    <!--ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Profile</a>
                        </li>
                        <li><a href="">Contacts</a>
                        </li>
                        <li><a href="">Mailbox</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="">Logout</a>
                        </li>
                    </ul-->
                </div>
                <div class="logo-element">
                    MCI
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <%- if I18n.locale== :ar %>
                   <i class="fa fa-laptop"></i> <span class="nav-label">لوحة أجهزة القياس</span>
                  <% else %>
                    <i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span>
                <% end -%> 
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('registrations/edit') %>">
                 <%- if I18n.locale== :ar %>
                    <%= link_to '<i class="fa fa-user"></i> <span class="nav-label">تعديل الملف الشخصي</span>'.html_safe,  edit_user_registration_path %> 
                  <% else %>
                    <%= link_to '<i class="fa fa-user"></i> <span class="nav-label">Edit Profile</span>'.html_safe,  edit_user_registration_path %> 
                <% end -%> 
            </li>
        </ul>

    </div>
</nav>