<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KSA</title>
    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css.scss") %>
    <!-- Main css styles -->
    <%- if I18n.locale== :ar %>
        <%= stylesheet_link_tag    'applicationrtls', media: 'all', 'data-turbolinks-track' => true %>
        <% else %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <% end -%>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
    .borderless {
            border-bottom:0px !important;
        }
        .borderless th, .borderless td {
            border: 0px !important;
        }
        .borderless {
            border:0px !important;
        }
        .custom-tab .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus{
            background-color: #009688;
        }
    </style>
</head>
<%- if I18n.locale== :ar %>
    <body class="md-skin fixed-nav rtls">
    <% else %>
    <body class="md-skin fixed-nav ">
<% end -%>
    <!-- Wrapper-->
    <div id="wrapper">
        <% if user_signed_in? %>
            <!-- Navigation -->
            <%= render 'layouts/navigation' %>

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg">

                <!-- Page wrapper -->
                <%= render 'layouts/topnavbar' %>
                   
                <!-- Main view  -->
                <%= yield %>
                <!-- Footer -->
                <%= render 'layouts/footer' %>

            </div>
            <!-- End page wrapper-->
        <% else %>
            <%= yield %>
            </br>
            <div class="col-md-4"></div>
            <div class="col-md-4">
            <%- if I18n.locale== :ar %>
                <p style="text-align:center;"><%= link_to_unless I18n.locale == :en, "English", locale: :en %> | العربية</p>
            <% else %>  
                <p style="text-align:center;"> English | <%= link_to_unless I18n.locale == :de, "العربية", locale: :ar %></p>
            <% end -%></div>
            <div class="col-md-4"></div>
        <% end %>   
    </div>
    <!-- End wrapper-->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js.coffee") %>
    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>
</body>
</html>
