<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <img alt="image" class="img-responsive" src="<%= image_url 'headerlogo.jpg' %> " height="50px" />
        <!--  <div class="col-lg-6">
        <img alt="image" src="<%= image_url 'l3.jpg' %>" style="margin-left:-15px;" />
        </div>
        <div class="col-lg-2">
        <img alt="image" src="<%= image_url 'l2.jpg' %>" style="align:center;"/>
        </div>
        <div class="col-lg-4">
            <img alt="image" src="<%= image_url 'l1.jpg' %>" style="margin-top:15px;margin-left:220px;" />
        </div>  -->
        
        <div class="clearfix"></div>
          <ol class="breadcrumb" style="background:#F3F3F4; padding:10px;">
            <li>
              <%- if I18n.locale== :ar %>
                <span class="">
                  <% @ar_breadcrum_home = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '14','ar')%>
                  <% @ar_breadcrum_home.each do |ar_breadcrum_home|%>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= ar_breadcrum_home.language_property %></a>

                   <% end %>
                </span>
              <% else %>
                <span class="">
                  <% @en_breadcrum_home = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '14','en')%>
                  <% @en_breadcrum_home.each do |en_breadcrum_home|%>
                 <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= en_breadcrum_home.language_property %></a>

                   <% end %>
                </span>
              <% end -%>
              
            </li>
             <li class="active">
                <%- if I18n.locale== :ar %>
                <span class="">
                  <% @ar_breadcrum_factsearch = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '27','ar')%>
                  <% @ar_breadcrum_factsearch.each do |ar_breadcrum_factsearch|%>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= ar_breadcrum_factsearch.language_property %></a>

                   <% end %>
                </span>
              <% else %>
                <span class="">
                  <% @en_breadcrum_factsearch = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '27','en')%>
                  <% @en_breadcrum_factsearch.each do |en_breadcrum_factsearch|%>
                 <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= en_breadcrum_factsearch.language_property %></a>

                   <% end %>
                </span>
              <% end -%>
            </li>
             <li class="active">
                <%- if I18n.locale== :ar %>
                <span class="">
                  <% @ar_breadcrum_dic = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '26','ar')%>
                  <% @ar_breadcrum_dic.each do |ar_breadcrum_dic|%>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= ar_breadcrum_dic.language_property %></a>

                   <% end %>
                </span>
              <% else %>
                <span class="">
                  <% @en_breadcrum_dic = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '26','en')%>
                  <% @en_breadcrum_dic.each do |en_breadcrum_dic|%>
                 <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>"><%= en_breadcrum_dic.language_property %></a>

                   <% end %>
                </span>
              <% end -%>
            </li>
        </ol>
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-4">
    <div class="ibox" style="border:1px solid #0C78B8;">
        <div class="ibox-title" style="background:#0C78B8;color:#f3f3f4 !important;">
            <h5> <%- if I18n.locale== :ar %>
                    <span class="">
                      <% @ar_term = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '24','ar')%>
                      <% @ar_term.each do |ar_term|%>
                      <%= ar_term.language_property %>
                       <% end %>
                    </span>
                  <% else %>
                    <span class="">
                      <% @en_term = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '24','en')%>
                      <% @en_term.each do |en_term|%>
                      <%= en_term.language_property %>
                       <% end %>
                    </span>
                <% end -%> </h5>
            <div class="ibox-tools">
                <a class="collapse-link" style="color:#f3f3f4 !important;">
                    <i class="fa fa-chevron-up"></i>
                </a>
               
                <a class="close-link" style="color:#f3f3f4 !important;">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
         <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th >Concept Identifier</th>
                        <th >Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>                    
                    <td><%= @esci%></td>
                      
                      <td>Active</td>
                      
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
  </div>
    <div class="col-lg-12">
   <div class="ibox" style="border:1px solid #23C6C8;">
        <div class="ibox-title" style="background:#23C6C8;color:#f3f3f4 !important;">
            <h5> <%- if I18n.locale== :ar %>
                    <span class="">
                      <% @ar_term = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '23','ar')%>
                      <% @ar_term.each do |ar_term|%>
                      <%= ar_term.language_property %>
                       <% end %>
                    </span>
                  <% else %>
                    <span class="">
                      <% @en_term = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '23','en')%>
                      <% @en_term.each do |en_term|%>
                      <%= en_term.language_property %>
                       <% end %>
                    </span>
                <% end -%> </h5>
            <div class="ibox-tools">
                <a class="collapse-link" style="color:#f3f3f4 !important;">
                    <i class="fa fa-chevron-up"></i>
                </a>
               
                <a class="close-link" style="color:#f3f3f4 !important;">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
          <table class="table table-bordered">
              <thead> 
                <tr> 
                    <th>Term ID</th>
                    <th>Language</th>
                    <th>Term</th>
                    <th>Source</th>
                    <th>Source Reference</th>
                    <th>Status</th>
                </tr>
              </thead> 
            <tbody>
             <% @mm.each do |t|  %> 
                <tr>
                    <td><%= t.term_ID %></td> 
                   <td><%= t.language_name %></td>
                   <td><%= t.term_content %></td>
                   <td><%= t.term_organization_name %></td>
                    <td><%= t.term_originator_reference %></td>
                    <td><% if t.term_is_deprecated== '0' %>
                    Active
                    <% else %>
                    Inactive             
                    <% end %>
               
                </tr>
             <% end %>
            </tbody>
                </table>
        </div>
    </div>
      
    </div>
</div>
<div class="row"> 
  <idv class="col-lg-12">
    <div class="ibox" style="border:1px solid #1DB494;">
        <div class="ibox-title" style="background:#1DB494;color:#f3f3f4 !important;">
            <h5> <%- if I18n.locale== :ar %>
                    <span class="">
                      <% @ar_term = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '25','ar')%>
                      <% @ar_term.each do |ar_term|%>
                      <%= ar_term.language_property %>
                       <% end %>
                    </span>
                  <% else %>
                    <span class="">
                      <% @en_term = Language.select("language_property").where("language_id = ?  AND language_type = ? ", '25','en')%>
                      <% @en_term.each do |en_term|%>
                      <%= en_term.language_property %>
                       <% end %>
                    </span>
                <% end -%> </h5>
            <div class="ibox-tools">
                <a class="collapse-link" style="color:#f3f3f4 !important;">
                    <i class="fa fa-chevron-up"></i>
                </a>
               
                <a class="close-link" style="color:#f3f3f4 !important;">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
          <table class="table table-bordered">
                    <thead>
                        <tr> 
                            <th>Definition ID</th>
                            <th>Language</th>
                            <th>Term</th>
                            <th>Source</th>
                            <th>Source Reference</th>
                            <th>Status</th>
                        </tr>
                    </thead> 
                    <tbody>
                         <% @mm.each do |d|  %>  
                        <tr>
                            <td><%= d.definition_ID %></td> 
                            <td><%= d.language_name %></td>
                            <td><%= d.definition_content %></td>
                            <td><%= d.definition_organization_name %></td>
                            <td><%= d.definition_originator_reference %></td>
                            <td><% if d.  definition_is_deprecated== '0' %>
                            Active
                            <% else %>
                            Inactive             
                            <% end %>
                            </td> 
                        </tr>
                     <% end %>
                        </tr>
                 
                    </tbody>
                </table>
        </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    var updateOutput = function (e) {
        var list = e.length ? e : $(e.target),
                output = list.data('output');
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        } else {
            output.val('JSON browser support required for this demo.');
        }
    };
    // activate Nestable for list 1
    $('#nestable').nestable({
        group: 1
    }).on('change', updateOutput);

    // activate Nestable for list 2
    $('#nestable2').nestable({
        group: 1
    }).on('change', updateOutput);

    // output initial serialised data
    updateOutput($('#nestable').data('output', $('#nestable-output')));
    updateOutput($('#nestable2').data('output', $('#nestable2-output')));

    $('#nestable-menu').on('click', function (e) {
        var target = $(e.target),
                action = target.data('action');
        if (action === 'expand-all') {
            $('.dd').nestable('expandAll');
        }
        if (action === 'collapse-all') {
            $('.dd').nestable('collapseAll');
        }
    });

});

</script>

<% end %>
    
