
<!--div class="tabs-container">
    <ul class="nav nav-tabs" >
        <li class="active"><a data-toggle="tab" href="#tab-2" style="color:#f3f3f4 !important;">Details</a></li>
        <li class=""><a data-toggle="tab" href="#tab-3" style="color:#f3f3f4 !important;">Products</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
        	<div class="col-lg-12">
				 <% @factory_details.each do |f| %>
					<div class="row">
						<div class="col-lg-3"><label>Factory Name</label></div>
						<div class="col-lg-9"><%= f.FACTORY_NAME %></div>
					</div>
					<div class="row">
						<div class="col-lg-3"><label>Address</label></div>
						<div class="col-lg-9"><%= f.FACTORY_ADDRESS %></div>
					</div>
					<div class="row">
						<div class="col-lg-3"><label>District</label></div>
						<div class="col-lg-9"><%= f.DISTRICT %></div>
					</div>
					<div class="row">
						<div class="col-lg-3"><label>City</label></div>
						<div class="col-lg-9"><%= f.CITY %></div>
					</div>
					<div class="row">
						<div class="col-lg-3"><label>Postal Code</label></div>
						<div class="col-lg-9"><%= f.POSTALCODE %></div>
					</div>
					<div class="row">
						<div class="col-lg-3"><label>State</label></div>
						<div class="col-lg-9"><%= f.STATE %></div>
					</div>
					<div class="row">
						<div class="col-lg-3"><label>Website</label></div>
						<div class="col-lg-9"><%= f.WEBSITE %></div>
					</div>
				<% end %>
				</div>
        </div>
 	</div>

</div-->
<div class="row">
<% @factory_details.each do |f| %>
	<div class="col-lg-12">
	<!--  <img alt="image" class="img-responsive" src="<%= image_url 'Alfanar-imefy.jpg' %> " style='height: 100px;' /> -->
	<%= ("<img id = 'pictureInput'  height = '100' width='230' alt = 'image' class = 'list_image' src='data:image/jpg;base64,%s'>" % Base64.encode64(f.IMAGE)).html_safe %>
</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<table style="margin: -10px !important;">
			<tr style="background: rgba(26, 179, 148, 0.25); border:2px solid #ffffff !important;">
				<td style="border-right:2px solid #ffffff !important;"><label for="Factory Name">Factory Name</label></td>
				<td><%= f.FACTORY_NAME %></td>
			</tr>
			<tr style="background:rgba(71, 103, 96, 0.15); border:2px solid #ffffff !important;">
				<td style="border-right:2px solid #ffffff !important;"><label for="Address">Address</label></td>
				<td><%= f.FACTORY_ADDRESS %></td>
			</tr>
			<tr style="background: rgba(26, 179, 148, 0.25); border:2px solid #ffffff !important;">
				<td style="border-right:2px solid #ffffff !important;"><label for="District">District</label></td>
				<td><%= f.DISTRICT %></td>
			</tr>
			<tr style="background:rgba(71, 103, 96, 0.15); border:2px solid #ffffff !important;">
				<td style="border-right:2px solid #ffffff !important;"><label for="City">City</label></td>
				<td><%= f.CITY %></td>
			</tr>
			<tr  style="background:rgba(26, 179, 148, 0.25);">
				<td style="border-right:2px solid #ffffff !important;"><label for="Postal Code">Postal Code</label></td>
				<td><%= f.POSTALCODE %></td>
			</tr>
			<tr style="background: rgba(71, 103, 96, 0.15); border:2px solid #ffffff !important;">
				<td style="border-right:2px solid #ffffff !important;"><label for="State">State</label></td>
				<td><%= f.STATE %></td>
			</tr>
			<tr style="background: rgba(26, 179, 148, 0.25);">
				<td style="border-right:2px solid #ffffff !important;"><label for="Website">Website</label></td>
				<td><%= f.WEBSITE %></td>
			</tr>
		</table>
		
	</div>
	<!-- <div class="row">
		<div class="col-lg-3"><label>Address</label></div>
		<div class="col-lg-9"><%= f.FACTORY_ADDRESS %></div>
	</div>
	<div class="col-lg-3" style="background: #A9E4C6;"><label>Factory Name</label></div>
		<div class="col-lg-9" style="background: #7CF5B8;"><%= f.FACTORY_NAME %></div>
	<div class="row">
		<div class="col-lg-3"><label>District</label></div>
		<div class="col-lg-9"><%= f.DISTRICT %></div>
	</div>
	<div class="row">
		<div class="col-lg-3"><label>City</label></div>
		<div class="col-lg-9"><%= f.CITY %></div>
	</div>
	<div class="row">
		<div class="col-lg-3"><label>Postal Code</label></div>
		<div class="col-lg-9"><%= f.POSTALCODE %></div>
	</div>
	<div class="row">
		<div class="col-lg-3"><label>State</label></div>
		<div class="col-lg-9"><%= f.STATE %></div>
	</div>
	<div class="row">
		<div class="col-lg-3"><label>Website</label></div>
		<div class="col-lg-9"><%= f.WEBSITE %></div>
	</div> -->

</div>
<br>
<div class="row hide">
	<ul class="nav nav-pills" style="background:#23C8B1;">
	  <li class=""><a href="#tab_a" data-toggle="pill">Items</a></li>
	  <li><a href="#tab_b" data-toggle="pill">QR</a></li>
	  <li><a href="#tab_c" data-toggle="pill">BAR</a></li>
	</ul>
	<div class="tab-content">
	        <div class="tab-pane" id="tab_a">
	        <br>
	            <% if @count ==0 %>
	            <div class="col-lg-12">
	            	<h2>No Items Found</h2>
	            </div>
	            <% else %>
	            	 <% @manf_details.each do |m| %>
							<div class="col-lg-12"><%= m.catalog_name %></div>
					<% end %>
					<div class="col-lg-12">
						
					</div>
				<% end %>
	        </div>
	        <div class="tab-pane" id="tab_b">
	        <br>


	        </div>
	        <div class="tab-pane" id="tab_c">
	            <br>

	        </div>
	        
	</div>
</div>
<div class="row">
	<div class="tabs-container custom-tab">
    <ul class="nav nav-tabs" style="background:#21B6A8;" >
        <li class=""><a data-toggle="tab" href="#tab-1" style="color:#f3f3f4 !important;">Items</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" style="color:#f3f3f4 !important;">QR</a></li>
        <li class=""><a data-toggle="tab" href="#tab-3" style="color:#f3f3f4 !important;">BAR</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane">
         <br>
	            <% if @count ==0 %>
	            <div class="col-lg-12">
	            	<h2>No Items Found</h2>
	            </div>
	            <% else %>
	            	 <% @manf_details.each do |m| %>
							<div class="col-lg-12"><%= m.catalog_name %></div>
					<% end %>
					<div class="col-lg-12">
						<a href="<%=  url_for :controller => 'madein_ksa', :action => 'showfactory',:FACTORY => @factid%>" target="_blank">See more</a>
					</div>
				<% end %>
	        </div>
	        <div class="tab-pane" id="tab-2">
		        <br>
		       <div class="text-center">
		       	 <%= ("<img id = 'pictureInput'  height = '150' width='150' alt = 'image' align='center' class = 'list_image' src='data:image/jpg;base64,%s'>" % Base64.encode64(f.QR)).html_safe %>
		       </div>
	        </div>
	       	<div class="tab-pane" id="tab-3">
	       	<br>
	       	<%= ("<img id = 'pictureInput'  height = '100' width='230' alt = 'image' class = 'list_image' src='data:image/jpg;base64,%s'>" % Base64.encode64(f.BAR)).html_safe %>
    		</div>
</div>
</div>
<% end %>