
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
    	<img alt="image" class="img-responsive" src="<%= image_url 'headerlogo.jpg' %> " height="50px" />
    	<!--  <div class="col-lg-6">
        <img alt="image" src="<%= image_url 'l3.jpg' %>" style="margin-left:-15px;" />
        </div>
        <div class="col-lg-2">
    	<img alt="image" src="<%= image_url 'l2.jpg' %>" style="align:center;"/>
        </div>
    	<div class="col-lg-4">
    		<img alt="image" src="<%= image_url 'l1.jpg' %>" style="margin-top:15px;margin-left:220px;" />
    	</div>  -->
    	
        <div class="clearfix"></div>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>">Dashboard</a>
        	</li>
	        <li class="active">
	            <strong>CMM Searcher</strong>
	        </li>
    	</ol>
    	
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
				    <h5>CMM Search Results</h5>
				    <div class="ibox-tools">
				        <a class="collapse-link">
				            <i class="fa fa-chevron-up"></i>
				        </a>
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				       		<i class="fa fa-wrench"></i>
				        </a>
				        <ul class="dropdown-menu dropdown-user">
				            <!-- <li>
				                <a href="#">Config option 1</a>
				            </li>
				            <li>
				                <a href="#">Config option 2</a>
				            </li> -->
				        </ul>
				        <a class="close-link">
				            <i class="fa fa-times"></i>
				        </a>
				    </div>
				</div>
			<div class="ibox-content">
			<div class="col-lg-6 pull-right">
				<%= form_tag(nsnlist_path, :method => "get", class: "navbar-form") do %>
				    		<div class="form-group pull-right">
				     		 <%= text_field_tag :search, params[:search], class: "span4 form-control", placeholder: "Search" %>
				     
				      <%= submit_tag "Search", :class=>"btn btn btn-primary", :style=>"margin:0;",:name=>nil %>	
				    </div>
				  <% end %>
			</div>
			</br></br></br></br>
			<div style="width:100%; overflow-x:auto;">
				<%= grid(@cmm, :html => {:class => 'table table-striped table-bordered table-hover dataTables-example', :id => ''}) do |g|
					# String
						
                	g.column :name => 'NSN', :attribute => 'NSN' do  |g|
		         	 link_to g.NSN,{:controller => :source_data,:action => :edit, :NSN => g.NSN, :PART => g.REF_NBR_3570, :CAGE => g.CAGE_CD_9250} ,:target => "_blank" 
		         	end
  					g.column :name => 'CAGE CODE', :attribute => 'CAGE_CD_9250'
  					g.column :name => 'PART NUMBER', :attribute => 'REF_NBR_3570'
  					
  					g.column :name => 'NAME', :attribute => 'NAME'
  					
					g.column  do  |g|

		         	 link_to"" ,{ :controller => :source_data,:action => :view, :NSN => g.NSN, :PART => g.REF_NBR_3570, :CAGE => g.CAGE_CD_9250} ,:target => "_blank" ,:class=> "fa fa-external-link-square", title: 'View more data', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom'
		         	 end
		         	 g.column  do  |g|

		         	link_to"" ,{:controller => :source_data,:action => :viewsource, :NSN =>  g.NSN },:target => "_blank" ,:class=> "fa fa-eye", title: 'View source data', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom'
		         	 end

			end %>		
			</div>
			</div>
		</div>
	</div>
</div>
</div>
